#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

@media screen and (max-width:500px){
    #cluster-map {
        height: 400px;
    }
    .img-fluid{
        height:400px;
        background-color:rgba(248, 249, 228, 0.713);
     };
   }
